# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
build/
coverage/
**/dist/
**/build/
**/.turbo/

# Environment files
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
**/package-lock.json

# IDE / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Misc
*.local
*.swp
node_modules
